In [1]:
import pandas as pd

In [2]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [10]:
mydataset ={ 
    'card': ["man","volov","ram"],
'passings': [3, 4, 4]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

    card  passings
0    man         3
1  volov         4
2    ram         4

In [26]:
 mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [27]:
print(pd.__version__)

1.4.4

In [34]:
import pandas as pd 
a = [1, 2, 3, 4]
myvar =pd.Series(a)
print(myvar)

0    1
1    2
2    3
3    4
dtype: int64

In [33]:
import pandas as pd 

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [35]:
M=[3, 5, 6]
myvar =pd.Series(a)
print(myvar)

0    1
1    2
2    3
3    4
dtype: int64

In [38]:
print(myvar[0])

1

In [39]:
print(myvar[3])

4

In [41]:
print(myvar[2])

3

In [42]:
M=[3, 5, 6]
myvar =pd.Series(M,index =["x","r","y"])
print(myvar)

x    3
r    5
y    6
dtype: int64

In [49]:
j =[6,6,7,8]
myvar=pd.Series(j, index=["c","v","n","h"])
print(myvar)

c    6
v    6
n    7
h    8
dtype: int64

In [51]:
print(myvar["n"])

7

In [52]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [55]:
print(df.loc[1])

calories    380
duration     40
Name: 1, dtype: int64

In [56]:
print(df.loc[[1,2]])

   calories  duration
1       380        40
2       390        45

In [58]:
print(df.loc[[[[1,2,0]]])

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (210394209.py, line 1)

In [59]:
# pandas df.tasil(()) for last rows